flows_adnens-MacBook-Pro.local.json
[{"id":"165b3494.8934eb","type":"tab","label":"Flow 1"},{"id":"6206027.9cd34fc","type":"inject","z":"165b3494.8934eb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":220,"wires":[["ae443c1e.381d"]]},{"id":"ae443c1e.381d","type":"function","z":"165b3494.8934eb","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["80e34b4.cf210b8"]]},{"id":"80e34b4.cf210b8","type":"debug","z":"165b3494.8934eb","name":"","active":true,"console":"false","complete":"false","x":650,"y":220,"wires":[]}]